{% extends 'budget/base.html' %}

{% block head %}
{{super}}
{% endblock %}

{% block content %}
<div class="container">
<h2>My Projects</h2>
<hr></hr>
<div class="row">
  {% for project in project_list %}
  <div class="col s12 l4">
    <div class="card-panel">
    <h5>{{ project.name }}</h5>
    <a href="{% url 'detail' project.slug %}" class="btn waves-effect">Detail</a>
    <a href="{% url 'update_status' project.id %}" method='post' class="btn waves-effect red">Archive Project</a>
    </div>
  </div>
  {% empty %}
  <div class=" center">
    <h3 class="grey-text">Sorry, you don't have any projects, yet.</h3>
    <a href="add" class="btn-large grey">
      <i class="material-icons white-text left">add_circle</i>
      <span class="bold">Add Project</span>
    </a>
  </div>
  {% endfor %}
</div>



</div>
{% endblock %}
